# Pipeline components
DAC_PIPELINE_LOG_LEVEL=     # ["DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"]
DAC_PIPELINE_LOADER=        # package.module.class
DAC_PIPELINE_PARSER=        # package.module.class
DAC_PIPELINE_TRANSFORMER=   # package.module.class
DAC_PIPELINE_DEPLOYER=      # package.module.class

# Loader specific settings

# Parser specific settings

# Transformer specific settings

# Deployer specific settings

